@model ASMIK_MAGI.Models.PagedList<ASMIK_MAGI.Models.ASMIKModels>

<link href="~/assets/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/assets/css/select2.min.css" rel="stylesheet" />
@using (Html.BeginForm("DownloadPDF", "Home", FormMethod.Post))
{
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="#">Home</a>
                </li>

                <li>
                    <a href="#">ASMIK</a>
                </li>
                <li class="active">Download PDF</li>
            </ul><!-- /.breadcrumb -->
            @*<div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div>*@<!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">
                <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                    <i class="ace-icon fa fa-cog bigger-130"></i>
                </div>

                <div class="ace-settings-box clearfix" id="ace-settings-box">
                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <div class="pull-left">
                                <select id="skin-colorpicker" class="hide">
                                    <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                    <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                    <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                    <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                </select><div class="dropdown dropdown-colorpicker"><a data-toggle="dropdown" class="dropdown-toggle"><span class="btn-colorpicker" style="background-color:#438EB9"></span></a><ul class="dropdown-menu dropdown-caret"><li><a class="colorpick-btn selected" style="background-color:#438EB9;" data-color="#438EB9"></a></li><li><a class="colorpick-btn" style="background-color:#222A2D;" data-color="#222A2D"></a></li><li><a class="colorpick-btn" style="background-color:#C6487E;" data-color="#C6487E"></a></li><li><a class="colorpick-btn" style="background-color:#D0D0D0;" data-color="#D0D0D0"></a></li></ul></div>
                            </div>
                            <span>&nbsp; Choose Skin</span>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off">
                            <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off">
                            <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off">
                            <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off">
                            <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off">
                            <label class="lbl" for="ace-settings-add-container">
                                Inside
                                <b>.container</b>
                            </label>
                        </div>
                    </div><!-- /.pull-left -->

                    <div class="pull-left width-50">
                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off">
                            <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off">
                            <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                        </div>

                        <div class="ace-settings-item">
                            <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off">
                            <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                        </div>
                    </div><!-- /.pull-left -->
                </div><!-- /.ace-settings-box -->
            </div><!-- /.ace-settings-container -->

            <div class="page-header">
                <h1>
                    ASMIK
                    <small>
                        <i class="ace-icon fa fa-angle-double-right"></i>
                        Download PDF
                    </small>
                </h1>
            </div><!-- /.page-header -->

            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->
                    <div class="row">
                        <div class="col-xs-12">
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 200px;"><u><b> Search Data </b></u></label>

                                </div><br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 200px;"> No. KTP </label>
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.KTP_NO_SEARCHING, new { @class = "col-xs-10 col-sm-5", id = "KTP_NO_SEARCHING" })
                                        @Html.ValidationMessageFor(model => model.KTP_NO_SEARCHING, "", new { @class = "text-danger", style = "Margin-left:10px" })

                                    </div>
                                </div><br /><br />

                                <div style="margin-left:15px">
                                    <button class="btn btn-sm btn-success" type="submit" name="submit" id="Submit" value="Search" style="margin-left:100px; height:40px; width:100px">
                                        Search
                                    </button>
                                  
                                </div><br />
                                <div class="col-xs-12">
                                    @Html.Raw(TempData["messageRequest"])
                                    @Html.Raw(TempData["SuccessRequest"])
                                    @Html.Raw(TempData["ErrorRequest"])
                                    <b><font color="Red">@Html.Raw(TempData["CountData"])</font></b>
                                </div><br />
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 200px;"><u><b> Daftar Tertanggung </b></u></label>

                                </div><br />
                                <div class="form-group">
                                    <table id="dtHorizontalExample" class="table table-striped table-bordered table-sm" style="font-size:8.5px;" cellspacing="0" width="100%">
                                        @*<table id="tblNK" width="100%" style="width: 100%;font-size:8.5px;overflow-x:scroll;" role="grid" aria-describedby="dataTables-example_info" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline">*@
                                        <thead>
                                            <tr>
                                                <th>
                                                    No.
                                                </th>
                                                <th>
                                                    Reff No
                                                </th>
                                                <th>
                                                    Nama Lengkap
                                                </th>
                                                <th>
                                                    Alamat
                                                </th>
                                                <th>
                                                    Kode Pos
                                                </th>
                                                <th>
                                                    Tempat Lahir
                                                </th>
                                                <th>
                                                    Tanggal Lahir
                                                </th>
                                                <th>
                                                    Jenis Kelamin
                                                </th>
                                                <th>
                                                    No KTP
                                                </th>
                                                <th>
                                                    No HP
                                                </th>
                                                <th>
                                                    Email
                                                </th>
                                                <th>
                                                    NPWP
                                                </th>
                                                <th>
                                                    Pekerjaan
                                                </th>
                                                <th>
                                                    Penghasilan Per Bulan
                                                </th>
                                                <th>
                                                    Sumber Penghasilan
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (int i = 0; i < Model.Content.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].NomerUrut)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].ReffNo_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Nama_Lengkap_Tertanggung_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Alamat_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Kode_Pos_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Tempat_Lahir_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Tanggal_Lahir_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Jenis_Kelamin_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].No_KTP_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].No_HP_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Email_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].NPWP_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Pekerjaan_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Penghasilan_Perbulan_List)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.Content[i].Sumber_penghasilan_List)
                                                        @Html.HiddenFor(modelItem => Model.Content[i].IDX_ASMIK_DETAIL)
                                                        @Html.HiddenFor(modelItem => Model.Content[i].IDX_ASMIK)
                                                    </td>
                                                    <td>
                                                        <a class="black" href="#">
                                                            @*<a href="/Edit_ASMIK/@Model.Content[i].No_KTP_List" title="Click here to edit">Edit</a>*@
                                                            @Html.ActionLink("Download", "DownloadPDF_LIST", new { ReffNo_List = Model.Content[i].ReffNo_List }, new { @onclick = "return confirm('Are you sure you want to Download PDF this record?');" })
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div><br /><br />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@*<script src="~/assets/js/jquery-2.1.4.min.js"></script>
    <script src="~/assets/js/Jquery.min.js"></script>*@
<script src="~/assets/js/bootstrap-datepicker.min.js"></script>
<script src="~/assets/js/select2.min.js"></script>